.header{
    @include header;
}

.header-menu{
    @include header;
    &__link{
        position: relative;
        top: 27px;
        left: 23px;
        width: 18px;
        font-size: 1.6em;
        overflow: hidden;
    }
}