.header{
    height: 65px;
    display: flex;
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    &__link{
        position: relative;
        top: 27px;
        left: 23px;
        width: 18px;
        font-size: 1.6em;
        overflow: hidden;
    }
    &__logo{
        width: 100%;
        margin-top: 0.75rem;
        @include flexbox-center
    }
   
}