.btn-exploration{
    @include btn(1.5rem);
}

.btn-menu{
    @include btn(3rem);
}

.btn-header{
    position: relative;
    top: 27px;
    left: 23px;
    width: 18px;
    font-size: 1.5em;
    overflow: hidden;
}

.btn-heart{
    transform: scale(1, 1.1);
    font-size: 1.5em;
    cursor: pointer;
    &__regular{
        opacity: 1;
    }
    &__solid{
        opacity: 0;
        background: linear-gradient($color-primary, $color-secondary);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        &:hover{
            animation: heart 1000ms ease-in-out 200ms forwards;
        }
    }
}

// position for restaurant cards

#btn-heart-card-1, #btn-heart-card-2, #btn-heart-card-3, #btn-heart-card-4{
    position: absolute;
    bottom: 1.25rem;
    right: 0.25rem;
}

@keyframes heart{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}