.btn{
    padding: 1.1rem 1.5rem;
    background: linear-gradient(170deg, $color-secondary, $color-primary);
    border-radius: 25px;
    color: white;
    font-weight: 500;
    font-size: 0.9em;
    transition: all 300ms;
    cursor: pointer;
    @include shadow-base;
    &--menu{
        padding: 1.1rem 3rem;
    }
    &:hover{
        filter: brightness(1.1);
        box-shadow: 0 5px 15px darken($color-background, 40%);
    }
}