html{
    font-size: 16px;
}
body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: black;
}

h1{
    font-size: 1.8em;
    font-family: 'Shrikhand', Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.footer__heading{
    font-family: 'Shrikhand', Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: 400;
}

