.location{
    height: 50px;
    background: linear-gradient(0deg, #eaeaea 90%, #cfcfcf) ;
    @include flexbox-center;
    &__icon{
        font-size: 1em;
        margin: 0 15px 0 -25px;
    }
    &__description{
        font-size: 1em;
        font-weight: 500;
    }
}