@mixin flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin shadow-base {
    box-shadow: 0 5px 10px darken($color-background, 20%);
}

@mixin btn($size){
    padding: 1.1em $size;
    background: linear-gradient(170deg, $color-secondary, $color-primary);
    border-radius: 25px;
    @include shadow-base;
    cursor: pointer;
    position: relative;
    z-index: 1;
    &:hover{
        &::after{
            opacity: 1;
        }
    }
    &::after{
        @include pseudo-position;
        background: linear-gradient(170deg, $color-secondary, $color-primary);
        filter: brightness(1.1);
        box-shadow: 0 5px 15px darken($color-background, 40%);
        opacity: 0;
        z-index: -1;
        transition: opacity 200ms ease-in-out;
        border-radius: 25px;
    }
}

@mixin header{
    height: 65px;
    display: flex;
    &__logo{
        width: 100%;
        margin-top: 0.75rem;
        @include flexbox-center
    }
}

@mixin pseudo-position{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@mixin spin-border{
    border: 1rem solid transparent;
}